{% extends 'base.html.twig' %}


{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/bikes.css') }}"> {% endblock %}

{% block body %}

    <div class="container br-bikes-wrapper">
        <div class="row">


            <div class="col-xs-12">
                <div class="br-bike-action   br-bike-filter pull-right">
                    <i class="fa fa-bars"></i>
                </div>


            </div>


            {% for bike in bikes %}

            <div class="col-xs-4 br-bike-box {{ bike.category.key}}">
                <div class="br-bike-img">
                    <img src="{{ asset('img/bikes/product-img1.jpg') }}">
                </div>
                <div class="br-bike-category" >
                    <h3>{{ bike.category.name }}</h3>
                    <small class="text-muted"> {{ bike.brend }} - {{ bike.model }}</small>
                </div>
                <div class="br-bike-price">
                    {{ bike.category.price }} MKD
                </div>
                <div class="br-bike-actions">
                    <div class="br-bike-action rent">
                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                    </div>
                    <div class="br-bike-action view">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>


                </div>

            </div>


            {% endfor %}


        </div>

    </div>


{% endblock %}



{% block javascripts %}


    <script src="{{ asset('js/bikes.js')}}"></script>
{% endblock %}