{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('js/chosen_v1.6.2/chosen.css')}}">

    <link rel="stylesheet" href="{{ asset('css/rent.css') }}"> {% endblock %}

{% block body %}
    <div class="container br-body-wrapper">
        <div class="row">


            <div class="col-xs-6 col-xs-offset-3">
                <form method="post" action="{{ path('br.rent.rent') }}">

                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" class="form-control" id="name" placeholder="Username" readonly value="{{ app.user.username }}">
                    </div>

                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" readonly value="{{ app.user.email }}">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Phone number" name="phone">
                    </div>

                    <div class="form-group">
                        <label for="phone">Rent start date</label>

                        <input type="text" class="form-control" id="date_start" name="start_date">
                    </div>

                    <div class="form-group">
                        <label for="phone">Rent end date</label>

                        <input type="text" class="form-control"   id="date_end" name="end_date">
                    </div>

                    <div class="form-group">
                        <label for="phone">Bikes</label>

                        <select id="my_chosen" class="form-control" multiple name="bikes[]" >
                            {% for bike in bikes %}
                                <option value="{{ bike.id }}" {% if app.request.get('bike') == bike.id  %} selected {% endif %}> {{ bike.brend }} - {{ bike.model }}</option>
                            {%  endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="phone">Chose Accessories</label>

                    </div>

                    <div class="form-group">

                        <div class="col-xs-4 no-padding">
                            <div class="checkbox">
                                <label>
                                    {% for  accessory in accessories %}
                                    <input type="checkbox" name="accessories[]" value="{{ accessory.id }}"> {{ accessory.name }} <br/>

                                    {%  endfor %}

                                </label>
                            </div>
                        </div>


                    </div>


                    <div class="col-xs-12 no-padding" style="margin-top: 10px">
                        <button type="submit" class="btn btn-success br-btn-green">Done</button>
                    </div>



                </form>


            </div>


        </div>

    </div>



{% endblock %}



{% block javascripts %}


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('/js/chosen_v1.6.2/chosen.jquery.js')}}" type="text/javascript"></script>
    <script src="{{ asset('js/rent.js')}}"></script>
{% endblock %}